<!DOCTYPE html>
<html lang="en">

<head>
	<title>Uniteca</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/admin2.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
	<script src="../static/js/admin2.js"></script>
	<script src="https://kit.fontawesome.com/d1ade3afc2.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>var tot = {{ tot_pos| tojson | safe}}</script>
	<script type="text/javascript">
	</script>
</head>

<body onload="dispres()">
	<nav>
		<div class="navbar">
			<div class="container nav-container">
				<input class="checkbox" type="checkbox" name="" onchange="SetVisibleMenu(this.checked)"
					id="menuCheck" />
				<div class="hamburger-lines">
					<span class="line line1"></span>
					<span class="line line2"></span>
					<span class="line line3"></span>
				</div>
				<div class="logo">
					<h1>Uniteca</h1>
				</div>
				<div class="menu-items">
					<li class="menu" id="Home"><a href="{{ url_for('admin') }}" class="active">Home</a></li>
					<li class="menu" id="Book"><a href="{{ url_for('addrm_book') }}">Add or remove a book</a></li>
					<li class="menu" id="Reservation"><a href="{{ url_for('reservation') }}">Check the
							reservation</a></li>
					<li class="menu" id="Loaned"><a href="{{ url_for('loaned_book') }}">Loaned books</a></li>
					<li class="menu" id="Logout"><a href="{{ url_for('logout') }}">Logout</a></li>
				</div>
			</div>
		</div>
	</nav>

	<div class="container" id="bodycontainer">
		<div class="row">
			<div class="col-md-12 col-xs-12 text-center">
				<h2 class="text">Admin</h2>
			</div>

			<div class="col-md-12 col-xs-12 text-justify text-center">
				<p class="p0">On this page you can check all the reservations
					made and available places.
				</p>
			</div>

			<div class="col-md-12 col-xs-12 text-justify text-center">
				<form name="view_res " class="f1" method="POST">
					<input type="date" id="date" name="date" style="max-width:250px;width:100%" />
					<input name="skip_Submit" type="submit" value="Submit" />
				</form>
				<hr class="new">
			</div>

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>

			<div class="col-md-7 col-xs-12" style="margin-top: -97px;margin-left: 851px;">
				{% if error == 0%}
				<p class="errorLogin">Data non inserita!</p>
				{% endif %}
			</div>

			<div class="col-md-12 col-xs-12" style="margin-top: -63px;">
				<p class="p3" style="text-decoration:underline; font-size:35px; font-weight: 500">All Reservation:</p>
					<ul class="elenco">
						<li id="0"> </li><br>
						<li id="1"> </li><br>
						<li id="2"> </li><br>
						<li id="3"> </li><br>
						<li id="4"> </li><br>
						<li id="5"> </li><br>
						<li id="6"> </li><br>
						<li id="7"> </li><br>
						<li id="8"> </li><br>
						<li id="9"> </li><br>
						<li id="10"> </li><br>
						<li id="11"> </li><br>
						<li id="12"> </li><br>
						<li id="13"> </li><br>
						<li id="14"> </li><br>
						<li id="15"> </li><br>
						<li id="16"> </li><br>
						<li id="17"> </li><br>
						<li id="18"> </li><br>
						<li id="19"> </li><br>
						<li id="20"> </li><br>
					</ul>
				<hr class="new4">
			</div>

			<div class="col-md-12 col-xs-12 text-right">
				<input name="next_page" type="next" value="Next page" onclick="nxtpage()" /></input>
				<br>
				<br>
				<br>
			</div>

		</div>
	</div>
	
	<footer class="footer" id="footercontainer" style="margin-top: 70px;">
		<div class="waves">
			<div class="wave" id="wave1"></div>
			<div class="wave" id="wave2"></div>
			<div class="wave" id="wave3"></div>
			<div class="wave" id="wave4"></div>
		</div>
		<p style="opacity: 0.75;">Made by: Nicola Cirillo, Filippo Spitaletta e Pasquale Ferrandino.</p>
	</footer>

	<script src="../static/js/JQuery.js"></script>
</body>

</html>