<!DOCTYPE html>
<html lang="en">

<head>
	<title>Uniteca</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/resetpwd.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
	<script src="../static/js/resetpwd.js"></script>
	<script src="https://kit.fontawesome.com/d1ade3afc2.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
	<div class="container" id="bodycontainer">
		<div class="row">
			<div class="col-md-12 col-xs-12 text-center">

				<h2 class="text">Reset your password</h2>

			</div>

			<div class="col-md-12 col-xs-12 text-center" style="margin-top: 19px;">
				<p class="p0">Please, create a new password that
					you don't use on any other site.
				</p>
			</div>
		</div>

		<div class="boxcontainer" style="margin-bottom: -73px;">
			<form action>
				<table style="max-width:550px;width:100%;border:0" cellpadding="8" cellspacing="0">
					<tr>
						<td>
							<label for="FromEmailAddress">Email*:</label>
						</td>
						<td>
							<input name="FromEmailAddress" id="FromEmailAddress" type="text"
								placeholder="Enter email address..." maxlength="90"
								style="max-width:250px;width:100%" />
						</td>
					</tr>
					<tr>
						<td>
							<label for="Password">Password*:</label>
						</td>
						<td>
							<input name="Password" id="Password" type="password" placeholder="Create new password..."
								maxlength="60" style="max-width:250px;width:100%" />
						</td>
					</tr>
					<tr>
						<td>
							<label for="Password">Confirm Password*:</label>
						</td>
						<td>
							<input name="ConfirmPassword" id="ConfirmPassword" type="password"
								placeholder="Confirm Password..." maxlength="60" style="max-width:250px;width:100%" />
						</td>
					</tr>
					<tr>
						<td>
						<td>
							<input name="skip_Submit" type="submit" value="Submit" />
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<footer class="footer" id="footercontainer">
		<div class="waves">
			<div class="wave" id="wave1"></div>
			<div class="wave" id="wave2"></div>
			<div class="wave" id="wave3"></div>
			<div class="wave" id="wave4"></div>
		</div>
		<p style="opacity: 0.75;">Made by: Nicola Cirillo, Filippo Spitaletta e Pasquale Ferrandino.</p>
	</footer>

	<script src="../static/js/JQuery.js"></script>
</body>

</html>